@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind themes;

:root {
    --lightestblue: rgb(142, 202, 230);
    --lightblue: rgb(33, 158, 188);
    --darkblue: rgb(2, 48, 71);
    --lightOrange: rgb(255, 183, 3);
    --darkOrange: rgb(251, 133, 0);
    --text-color: white;
}

.hero {
    border: solid 2px var(--lightOrange);
    padding: 8%;
}

.title {
    color: var(--darkOrange);
}

.homeText{
    color:rgba(250, 247, 247, 0.8);
}

.btn {
    border-color: var(--lightOrange);
    background-color: var(--darkOrange);
    /* background: linear-gradient(to right, var(--darkOrange), var(--lightOrange)); */
}
.btn:hover {
    border-color: var(--lightOrange);
    background: linear-gradient(to right, var(--lightOrange), var(--darkOrange));
}