
/* MindFlip */
#dashTitle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2%;
    display: flex;
    margin-left: 6%;
}

/* "dashboard" */
#dashboardText {
    display: flex;
    color: var(--darkBlue);
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2%;
    display: flex;
    margin-right: 6%;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
}

/* begin button */
#begin {
    display: flex;           
    font-size: larger;
    /* position: absolute; */
    top: 15%;
    left: 15%;
    width: 100%;
    max-width: 100%;
    color: white;
    padding: 4%;
    text-align: center;
    /* keeps text in center of button */
    line-height: 0; 
    background-color: var(--darkOrange);
    border: rgba(255, 255, 255, .4) solid 1px;
}

#begin:hover {
   font-size: 22px;
   border: none;
}

/* titles with buttons and contents sections */
.section {
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
    text-align: center;
    border: rgba(255, 255, 255, .4) solid 2px;
}

.cardTitle {
    font-size: 25px;;
}


/* "My Flash Cards and buttons */
.myFlashCards {
    display:flex;
    font-size: 20px;
    color: white;
    padding: 2%;
}

/* "Categories" title and buttons */
.categories {
    display:flex;
    font-size: 20px;
    color: white;
    padding: 2%;
}

/* add flash card */
.dashButtons {
    color: white;
    padding: 2%;
    margin: 2%;
    background-color: var(--darkBlue);
    border: rgba(255, 255, 255,.4) solid 1px;
    border-radius: 8px;
}

.dashButtons:hover {
    border-color: var(--lightOrange);
    background: linear-gradient(to right, var(--lightOrange), var(--darkOrange));
}

#dashContainer {
    display: flex;
    flex-direction: column; /* Stack the children on small screens */
    width: 100%;
    justify-content: space-between; /* Add space between children */
    padding: 2%;
}

/* Media query for larger screens */
/* @media screen and (min-width: 768px) {
    #dashContainer {
        flex-direction: row; 
    }

    #begin {
        margin: 2%;
    }
    .myFlashCards, .categories {
        width: 45%; 
        height: 45%;
    }
} */
