.flashcards-container {
  display: flex;
  display: inline-block;
  position: relative;
  /* same size as parent on small screens */
  margin: 3%;

}

/* three dots on cards */
.exBtn {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 7%;
  color: white;
  font-size: 30px;
}

/* entire flash card container -- needs to wrap .card */
.scene {
  width: 300px;
  height: 200px;
  perspective: 800px;
}

#gameCard {
  display: flex;
  position: absolute;
  width:81vw;
  height:81vh;
  /* box-sizing: border-box; */
}

/* specifcally the card container */
.card {
  display: flex;
  flex-basis: 100%; /* take full width on small screens */
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;

}

/* change cursor to pointer when hovering card */
.card:hover {
  cursor: pointer;
}

/* front and back text on cards */
.card__face {
  color: white;
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  /* margin works for small screens */
}

/* front of card */
.card__face--front {
  background: linear-gradient(to right, var(--lightOrange), var(--darkOrange));
  font-size: 25px;
}

/* back of card */
.card__face--back {
  background: linear-gradient(to right, var(--darkBlue), var(--lightBlue));
  transform: rotateY(180deg);
}

/* flip card */
.card.is-flipped {
  transform: rotateY(180deg);
}
