
/* the info text */
.homeText{
    color:rgba(250, 247, 247, 0.8);
}


/* change background color of sing up / sign in input areas */
.inputSigninRegister {
    background-color: rgb(30, 35, 42) !important;
    /* text color white */
    color: white;
}

/* add border on each input area for sign up / sing in when clicking */
.inputSigninRegister:focus {
    border: var(--lightBlue) solid 2px !important;
}

/* forgot pw / register (same class as nav links) */
.btnLinks:hover {
    color: var(--lightOrange);
}

#forgotpw{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

#member{
    top: 0px;
}