@import url("./index.css");

/* the info text */
.homeText{
    color:rgba(250, 247, 247, 0.8);
}

/* sign up / sign in / get started btn's */
.btn {
    border-color: var(--lightOrange);
    background-color: var(--darkOrange);
    /* background: linear-gradient(to right, var(--darkOrange), var(--lightOrange)); */
}
/* when hovering change button styling */
.btn:hover {
    border-color: var(--lightOrange);
    background: linear-gradient(to right, var(--lightOrange), var(--darkOrange));
}

/* change background color of sing up / sign in input areas */
.inputSingupSignIn {
    background-color: rgb(30, 35, 42) !important;
    /* text color white */
    color: white;
}

/* add border on each input area for sign up / sing in when clicking */
.inputSingupSignIn:focus {
    border: var(--lightBlue) solid 2px !important;
}

/* forgot pw / register (same class as nav links) */
.btnLinks:hover {
    color: var(--lightOrange);
}