#statsParent{
    background-image: url("../assets/img/mesh-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* "Your Progress" */
#progress {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkBlue);
    font-weight: 500;
    font-size: 30px;
    padding-top: 2%;
}

#lineChart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    width: 100%;
    height: 70%;
  }
  
/* #yAxis {
    padding: 20px;
} */
